.card {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 16px 10px;
    height: 100%;
}

.card__title {
    margin-bottom: 10px;
}

.card__text {
    font-size: 14px;
}

.id {
    margin-top: 10px;
}