.card {
    border-radius: 5px;
    box-shadow: 0 0  3px rgba(0,0,0,.3);
    padding: 16px 10px;
    height: 100%;
}

.card__title {
    margin-bottom: 10px;
}

.card__text {
    font-size: 14px;
}

.id {
    margin-top: 10px;
}