.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: rgb(60, 60, 60);   
}

.header__logo {
    color: #fff;
}

.nav__list {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: -10px;
}

.nav__link {
    display: inline-block;
    color: #fff;
    margin: 0  10px;
}