.posts {
    display: grid;
    grid-template-columns: repeat(3,  1fr);
    grid-gap: 16px  20px;
    padding: 30px;
}


.postWrapper {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.post__title {
    font-size: 30px;
    margin-bottom: 10px;
}

.id {
    margin-top: 10px;
}